.gridCheck
    margin-top 30px !important

.titleReports
    color #36aba6
    font-size 20px !important
    font-weight 400 !important
    border-left 3px solid #36aba6
    padding-left 10px

.titleServices
    color #36aba6
    font-size 20px !important
    font-weight 400 !important
    border-left 3px solid #36aba6
    padding-left 10px
    margin 15px !important

.table
    thead
        background-color #36aba6
        th
            color #ffffff
    tr
        &:nth-child(even)
            background-color #d5d5d5
            
    .tableService
        background-color #f1eeee
        thead
            background-color #c3e8e7
            color #ffffff
            th
                color #000000
        tr
            &:nth-child(even)
                background-color #ffffff

.iconButton
    padding 0 !important