.GridList
  width 100%
  margin-top 30px

h6
  color #6D7881 !important
  font-size 12px !important


.SelectList
  height 36px
  border-radius 3px
  background #36aba6
  padding 0 1rem
  box-shadow none
  display flex

.sub-title-list
  color #444854
  font-size 14px !important

.list-completa
  border 1px solid #CCCECE
  border-radius 8px


.list-icon
  border-top 1px solid #CCCECE
  text-align right
  padding 0px !important
  margin 0px !important

.cardContent
  display block !important
  width 100%
  margin 15px 0

.cardList
  margin-bottom 20px
  border-radius 4px !important
  border-radius 0
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  border: 1px solid #cccece
  box-shadow none

.cardLine
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;


.cardContentBadge
    right 60px !important
    width auto !important
    height 28px !important
    padding 0 1rem !important
    border-radius 50px !important
    color #fff !important
    background #000

.cardBottom
  margin 0 0 1rem 0
  padding 0 1px 0 1px
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  height 42px
  border-radius 4px
  border-top-left-radius 0
  border-top-right-radius 0
  justify-content flex-end
  align-items center
  display flex

  .cardBottomButton
    &:hover
      background transparent

.teste12
  top -12px
  right 20px
  width auto
  height 28px
  padding 0 1rem
  border-radius 50px
  color: #fff;
  background-color #000 !important

.appHeaders
    background-color #FFF !important

    .titleApp
        display block
        flex-grow 1