.panelHead
    margin-top 25px !important

.titleReports
    color #36aba6
    font-size 20px !important
    font-weight 400 !important
    border-left 3px solid #36aba6
    padding-left 10px

.titleServices
    color #36aba6
    font-size 20px !important
    font-weight 400 !important
    border-left 3px solid #36aba6
    padding-left 10px
    margin 15px !important

.clientTitle
    font-size 14px !important
    font-weight 500 !important
    text-transform uppercase 
    padding 0 25px

.clientSub
    font-size 14px !important
    font-weight 300 !important
    padding-bottom 15px !important
    padding-top 2px !important
    padding 0 25px

.detailsPanel
    display block !important

    .titleSevice
        margin-top 20px
        color #36aba6
        font-size 20px !important
        font-weight 400 !important
        border-left 3px solid #36aba6
        padding-left 10px
    
    

.expansionTitle
    p
        font-size 14px !important
        font-weight 500 !important
        text-transform uppercase

.svgCar
    max-height 200px
    path 
        cursor default !important

.table
    thead
        background-color #36aba6
        th
            color #ffffff
    tr
        &:nth-child(even)
            background-color #d5d5d5
            
    .tableService
        background-color #f1eeee
        thead
            background-color #c3e8e7
            color #ffffff
            th
                color #000000
        tr
            &:nth-child(even)
                background-color #ffffff

.cardHeader 
    display flex
    align-items center
    justify-content space-between

.cardContent
    display flex
    padding 15px 0
    justify-content space-between
    .itemCard
        display flex
        flex-direction column
        align-items center
        span
            font-size 28px
        .label 
            font-size 11px
            text-transform uppercase
.subTitle
    font-size 14px !important