svg { width: 100%; height: 100%; cursor: pointer;}
.st0{fill:none;stroke:#848585;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:none;stroke:#848585;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{opacity:0.5;fill:none;stroke:#848585;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;enable-background:new    ;}
.st3{opacity:0.5;fill:#FFFFFF;stroke:#848585;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;enable-background:new    ;}
.st4{fill:#F7F7F7;stroke:#848585;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st5{fill:none;stroke:#848585;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st6{fill:#FFFFFF;stroke:#848585;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st7{opacity:0.4;fill: #ffffff;;enable-background:new    ;}
.st8{opacity:0.4;}
.st9{fill:#C6C5C4;}