svg { width: 100%; height: 100%;}
.st0 {
    fill: none;
    stroke: #848585;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: none;
    stroke: #848585;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #FFFFFF;
}

.st3 {
    opacity: 0.5;
    fill: none;
    stroke: #848585;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    enable-background: new;
}

.st4 {
    fill: #FFFFFF;
    stroke: #848585;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: none;
    stroke: #848585;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st6 {
    opacity: 0.4;
    enable-background: new;
    cursor: grab;
}